<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="4.0.1.3373" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net471" />
  <package id="Fody" version="6.0.5" targetFramework="net471" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net471" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.138" targetFramework="net471" />
  <package id="NumSharp.Lite" version="0.1.9" targetFramework="net471" />
  <package id="Ookii.Dialogs.Wpf" version="3.1.0" targetFramework="net471" />
  <package id="OpenCvSharp4" version="4.0.0.20190108" targetFramework="net471" />
  <package id="OpenCvSharp4.runtime.win" version="4.0.0.20190108" targetFramework="net471" />
  <package id="OpenCvSharp4.Windows" version="4.0.0.20190108" targetFramework="net471" />
  <package id="Protobuf.Text" version="0.4.0" targetFramework="net471" />
  <package id="SharpCV" version="0.6.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="TensorFlow.NET" version="0.30.0" targetFramework="net471" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net471" />
</packages>